<h2> Postea un comentario </h2>
<%= form_tag({:controller => "formularios", :action => "post"}, :method => "post") do %>
   <%= label_tag "nombre", "Nombre" %>
   <br />
   <%= text_field_tag "nombre", "", :required => "required" %>
   <br />
   <%= label_tag "Comentario", "comentario" %>
   <br />
   <%= text_area_tag "comentario", "", :cols => 50, :rows => 10, :required => "required" %>
   <br />
   <%= submit_tag "Enviar comentario" %>
<% end %>
<% if @comentario %>
   <p> <strong><%= @comentario[:nombre] %></strong>, Gracias por publicar tu comentario </p>
   <div class="comentario">
      <%= simple_format (@comentario[:consulta]) %>
   </div>
<% end %>