<div class="imagen_logo">
   <%= image_tag "facebook_logo.jpg", :alt => "Facebook", :title => "Facebook"%>
</div>
<div class="descipcion">
   <h2> Facebook </h2>
   <p> Facebook (NASDAQ: FB) es una empresa creada por Mark Zuckerberg y fundada junto a Eduardo Saverin, Chris Hughes y Dustin Moskovitz consistente en un sitio web de redes sociales. Originalmente era un sitio para estudiantes de la Universidad de Harvard, pero actualmente está abierto a cualquier persona que tenga una cuenta de correo electrónico. Los usuarios pueden participar en una o más redes sociales, en relación con su situación académica, su lugar de trabajo o región geográfica. </p>
   <p> Ha recibido mucha atención en la blogosfera y en los medios de comunicación al convertirse en una plataforma sobre la que terceros pueden desarrollar aplicaciones y hacer negocio a partir de la red social. </p>
   <p> A mediados de 2007 lanzó las versiones en francés, alemán y español traducidas por usuarios de manera no remunerada,6 principalmente para impulsar su expansión fuera de Estados Unidos, ya que sus usuarios se concentran en Estados Unidos, Canadá y Reino Unido. Facebook cuenta con más de 900 millones de miembros, y traducciones a 70 idiomas.7 8 En octubre de 2012, Facebook llegó a los 1,000 millones de usuarios, de los cuáles hay más de 600 millones de usuarios móviles. Brasil, India, Indonesia, México y Estados Unidos son los países con el mayor número de usuarios.9 </p>
   <p> Su infraestructura principal está formada por una red de más de 50 000 servidores que usan distribuciones del sistema operativo GNU/Linux usando LAMP.10 </p>
   <p> El 9 de abril de 2012, se anunció que Facebook adquirió Instagram por mil millones de dólares.11 </p>
   <p> Extraído de: <%= link_to "Wikipedia", "http://es.wikipedia.org/wiki/Facebook", :target => "_blank" %> </p>
</div>
<div class="clear"></div>