<div class="imagen_logo">
   <%= image_tag "yo.jpg", :alt => "Molino", :title => "Molino", :class =>"img"%>
</div>
<div class="descipcion">
   <h2> Molinojopiento</h2>
   <p> Esto esta sin CSS, fuck! </p>
</div>
<div class="clear"></div>