<h2> Guardar comentarios </h2>
<%= form_tag({:controller => "archivos", :action => "guardar"}, :method => "post") do %>
   <%= text_area_tag "comentarios", @comentarios, :cols => 50, :rows => 10, :required => "required" %>
   <br />
   <%= submit_tag "Guardar comentario" %>
<% end %>
<p> <%= link_to "Volver a la lista de archivos", :controller => "archivos", :action => "listar" %> </p>
