/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
   background-color: #D4ECF8;
} 
#contenedor {
   background-color: #fff;
   width: 900px;
   margin: 0px auto 0px auto;
   padding: 10px;
   border: solid 1px #ccc;
   box-shadow: 1px 1px 5px #000;
   -moz-box-shadow: 1px 1px 5px #000;
   -webkit-box-shadow: 1px 1px 5px #000;
}
header {
   text-align: center;
}
nav ul{
   width: 900px;
   margin: 0px auto 0px auto;
}
nav li{
   float: left;
   width: 120px;
   height: 20px;
   list-style: none;
   border: solid 1px #999;
   margin-right: 10px;
   background-repeat: no-repeat;
   -moz-border-radius: 5px 15px 5px 5px;
   -webkit-border-radius: 5px 15px 5px 5px;
   text-align: center;
}

nav .yo {
   background-image: url(/assets/yo.jpg);
}

.img {
   border-radius: 40px;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.img:hover{
      -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
nav a {
   font-weight: bold;
   color: #000;
   text-decoration: none;
}
section .imagen_logo {
   float: left;
   width: auto;
   padding:20px;
}


section .descipcion p {
   text-align: justify;

}
.clear {
   clear: both;
}