<!DOCTYPE html>
<html>
<head>
  <title>Jugando con un Ruby</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="contenedor">
   <header>
      <h1> Jugando con un Ruby | Molinojopiento </h1>
   </header>
   <nav>
      <ul>
         <li class="yo"> <%= link_to "Mi perfil", :controller => "redes_sociales", :action => "yo" %> 
         </li>
         <li class="formulariopost"> <%= link_to "Post", :controller => "formularios", :action => "post" %>
         </li>
          <li class="archivos"> <%= link_to "Subir", :controller => "archivos", :action => "subir" %>
         </li>
      </ul>
      <div class="clear"></div>
   </nav> 
   <section>
   <%= yield %>
   </section> 
   <div id="user-widget">
<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
</div>



</body>
</html>
